%div.wrapper
  .side-bar
    .side-bar__header
      .h3.side-bar__header__name
        user
      %ul.side-bar__header__lists
        %li.side-bar__header__lists__list
          %a(href="/groups/new" id = "group_new")
            %i.fa.fa-edit.fa-white
        %li.side-bar__header__lists__list
          %a(href="/users/:id/edit" id = "user_id_edit")
            %i.fa.fa-cog.fa-white

    .side-bar__groups
      .side-bar__groups__group
        %a(href="/groups/message")
          .side-bar__groups__group__name
            group name
          .side-bar__groups__group__message
            message

  .chat
    .chat__header
      .chat__header__left-header
        .chat__header__left-header__title
          group name
        .chat__header__left-header__member
          member name
      .chat__header__right-header
        %a(href="/groups/edit" id = "edit") Edit

    .chat__message
      .chat__message__main
        .chat__message__main__upper
          .chat__message__main__upper__user
            user
          .chat__message__main__upper__date
            2019/02/02 02:02
        .chat__message__main__lower
          comment

    .chat__form
      .chat__form__message
        .chat__form__message__table
          %form{:action => "/create" ,:method => "post" ,class:"form-message"}
            %input{:type => "text" ,:name => "name" ,:class => "text", placeholder: "type a message"}

        .chat__form__message__image
          %label.upload-label{for: "upload-icon"}
            %i.fa.fa-picture-o.fa-lg
              %input{:type => "file" ,:id => "upload-icon"}

        %input{:type => "submit", :value => "Send", class:"form__submit"}







