html,body{
  height: 100%;
}

.wrapper{
  height: 100%;
  width: 100%;
}

.side-bar{
  height: 100%;
  width: 300px;
  float:left;
  box-sizing: border-box;
  color: $sidebar-font-color;
  .header{
    background-color:#253241;
    height: 100px;
    padding: 0 20px;
    line-height: 100px;
    h3{
      display:inline-block;
      font-size: 16px;
      font-weight: bold;
    }
    .header__lists{
      display: inline-block;
      float: right;
      list-style: none;
      .list{
        display: inline-block;
        .icon{
          color: $sidebar-font-color;
        }
      }
    }
  }
}
.groups{
background-color:#2f3e51;
height: calc(100% - 100px);
color: $sidebar-font-color;
padding: 0 20px;
  .group{
    padding:20px 0 40px;
    &__name{
      font-size: 15px;
      color: $sidebar-font-color;
    }
    &__message{
      margin-top: 5px;
      font-size: 11px;
      color: $sidebar-font-color;
    }
  }
}

.chat{
  height: 100%;
  width: calc(100% - 300px);
  float:right;
  &__header{
    height: 100px;
    padding: 0 40px;
    box-sizing: border-box;
    border-color :#eeeeee;
    &__left-header{
      float:left;
      &__title{
        margin-top: 35px;
        font-size: 20px;
        color:#333333;
      }
      &__members{
        margin-top: 15px;
        @include  chat-font1;
        &__member{
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    &__right-header{
      color: $light-blue;
      border:1px solid;
      margin-top: 28px;
      height: 40px;
      line-height: 40px;
      float:right;
      padding: 0 20px;
      .Edit{
        text-decoration: none ;
        color: $light-blue;
      }
    }
  }

  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100% - 100px - 90px);
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          color: black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: black;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
      }
      &__mask {
        background-color: white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
          .hidden {
            display: none;
      }
    }
      &__submit {
        background-color: $light-blue;
        border: none;
        color: white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
  }
}
